* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 150ms;
  -o-transition: background 150ms;
  transition: background 150ms;
}

body {
  font-size: 14px;
  color: #666;
  background: #f9f9f9;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clean_float:after,
.clean_float:before {
  content: '';
  display: block;
  clear: both;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9 {
  display: block;
  position: relative;
  min-height: 1px;
  float: left;
}

.col_1 {
  width: 10%;
}

.col_2 {
  width: 20%;
}

.col_3 {
  width: 30%;
}

.col_4 {
  width: 40%;
}

.col_5 {
  width: 50%;
}

.col_6 {
  width: 60%;
}

.col_7 {
  width: 70%;
}

.col_8 {
  width: 80%;
}

.col_9 {
  width: 90%;
}

.top-nav {
  background: #eee;
}

.top-nav .item {
  display: inline-block;
  padding: 6px 10px;
  background: #eee;
  color: black;
}

.top-nav .item:hover {
  color: #333;
}

.header {
  padding: 20px 0;
}

.header .logo {
  font-size: 30px;
}

.header .search-bar {
  border: 2px solid #dd182b;
}

.header .search-bar input,
.header .search-bar button {
  display: block;
  float: left;
  border: 0;
  padding: 10px;
  outline: 0;
}

.header .search-bar input {
  width: 80%;
}

.header .search-bar input:focus {
  -webkit-box-shadow: inset 0  2px 4px rgba(0,0,0,.2);
  box-shadow: inset 0  2px 4px rgba(0,0,0,.2);
}

.header .search-bar button {
  width: 20%;
  background: #dd182b;
  color: #fff;
}

.header .search-bar button:hover {
  background: #c71527;
}

.header .cart {
  text-align: center;
}

.header .cart a{
  padding: 10px;
  float: right;
  background: #fff;
  border: 2px solid #eee;
  width: 80%;
  color: #dd182d;
}

.main-promote {
  background: #eee;
}

.main-promote .cat {
  background: #6e6568;
  color: white;
}
.main-promote .cat .item {
  padding: 14px 20px;
}

.main-promote .cat .item:hover {
  background: rgba(0,0,0,.1);
}

.main-promote .info {
  padding: 10px;
  line-height: 45px;
  background: #fff;
}

.main-promote .info .avatar {
  width: 50px;
  height: 50px;
  background: #777;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.main-promote .content {
  line-height: 1.7;
}

.footer {
  margin-top: 30px;
  padding:30px 0;
  background: #eee;
  text-align: center;
  color: #999;
}

.footer .item {
  color: black;
}

.cat-promote .title:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 25px;
  background: #dd182d;
  margin-right: 10px;
}

.cat-promote .title {
  font-size: 25px;
}

.cat-promote .item {
  padding: 5px;
}

.cat-promote .card {
  height: 300px;
  background: #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px  rgba(0,0,0,.1);
  box-shadow: 0 2px 2px  rgba(0,0,0,.1);
}
